<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msgque.pulse">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d9f287bd0036e70c407040441fca63059bc799e2"/>

        <activity android:name=".activity.GroupListActivity"/>
        <activity
            android:name=".activity.domain.SearchDomainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.SendSmsActivity"/>
        <activity android:name=".activity.domain.AddDomainActivity"/>
        <activity android:name=".activity.domain.ConfirmDomainPurchaseActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity
            android:name=".activity.EditProfileActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>