<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msgque.play">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name="com.msgque.play.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d9f287bd0036e70c407040441fca63059bc799e2"/>

        <activity android:name="com.msgque.play.activity.GroupListActivity"/>
        <activity
            android:name="com.msgque.play.activity.domain.SearchDomainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name="com.msgque.play.activity.SendSmsActivity"/>
        <activity android:name="com.msgque.play.activity.CampaignListActivity"/>
        <activity android:name="com.msgque.play.activity.WebActivity"/>
        <activity android:name="com.msgque.play.activity.domain.AddDomainActivity"/>
        <activity android:name="com.msgque.play.activity.domain.ConfirmDomainPurchaseActivity"/>
        <activity android:name="com.msgque.play.activity.LoginActivity"/>
        <activity
            android:name="com.msgque.play.activity.EditProfileActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name="com.msgque.play.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>